<h1>user: <%= @user.username %></h1>


<h2>Previous postings: </h2>

<% if @user.storages.length === 0 %>
  None 
<% end %>

<ul> <% @user.storages.each do |storage| %>
  <li><%= link_to storage.title, storage_path(storage.id) %></li>
</ul>
<% end %>

<%= render '/reviews/form' %>

<h4>Reviews</h4>

<% @reviews.each do |review| %>
<div>
Rating: <%= review.rating %>
Message: <%= review.message %>
by: <%= review.user.username %>
</div>
<% end %>
