<!DOCTYPE html>
<html>
<head>
  <title>Rent A Storage</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to 'Rent A Storage!', '/' %></h1>

<% if current_user %>
  Signed in as <%= link_to current_user.username, '/users/' + current_user.id.to_s %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/users/new' %>
<% end %>

<%= yield %>

</body>
</html>
